header {
    height: 70px;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
}

.logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: 20px 50%;
}

#api_status {
    position: relative;
    float: right;
    top: 15px;
    height: 40px;
    min-width: 40px;
    margin-right: 30px;

    border-radius: 50%;
    background-color: #CCCCCC;
}

#api_status.available {
    background-color: #FF545F;
}
